[submodule "scrimFinder-API"]
	path = scrimFinder-API
	url = https://github.com/SemPlasmeijer/scrimFinder-API
[submodule "scrimFinder-FE"]
	path = scrimFinder-FE
	url = https://github.com/SemPlasmeijer/scrimFinder-FE
[submodule "Scrimfinder-WQ"]
	path = Scrimfinder-WQ
	url = https://github.com/SemPlasmeijer/ScrimFinder-WQ
[submodule "scrimfinder-WQ"]
	path = scrimfinder-WQ
	url = https://github.com/SemPlasmeijer/ScrimFinder-WQ
